#top{
   
   border:none;
   background-size:cover;
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmo3hGSKTiUlyQ5rg2KcrPxPwoby63OnCNfimKLT23Oc4xwSSWe-v0bQh5X_kcyvqAIg&usqp=CAU");
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1{
    color:whitesmoke;
    font-size:50px;
    text-decoration:underline;
}
#menu{
    background-image: url("https://wallpaperaccess.com/full/5868297.jpg");
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
button{
    height:50px;
    width:280px;
    margin-bottom: 20px;
    margin-top:10px;
    font-size:20px;
    font-weight:bold;
    background-color: silver;
    transition:transform.2s;
}
button:hover{
    transform:scale(0.9);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
body{
    background: linear-gradient(to right, rgb(194, 229, 156), rgb(100, 179, 244));
    text-align: center;

}